/* GLOBAL CHANGES */

* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* MAIN GRID LAYOUT */

.grid-main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 520px 1fr;
    grid-template-rows: 50px 260px 1fr 40.5px 40.5px;
    margin: 0;
}

/* HEADER */

header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    font: 13px "Arial", sans-serif;
    color: inherit;
    opacity: 0.75;
    text-decoration: none;
    align-self: center;
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    padding: 0 10px;
    list-style: none;
}

header li {
    padding: 10px;
}

#store {
    margin-right: auto;
}

#nine-squares img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#user-icon img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    vertical-align: middle;
}

/* LOGO */

.logo {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin-top: 50px;
}

/* SEARCH FORM AND BUTTONS */

.search {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    width: 482px;
    height: 44px;
    justify-self: center;
    align-self: top;
}

.grid-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px 106px;
}

.magnifine {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: left;
}

.magnifine span {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    padding-left: 15px;
}

.search-box {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    height: 44px;
    padding-left: 45px;
    margin-bottom: 500px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-box input {
    border: none;
    font: 16px "Arial", sans-serif;
    line-height: 34px;
    width: 95%;
    height: 100%;
}

input[type="submit"] {
    border: 1px solid #f2f2f2;
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    background-color: #f2f2f2;
    color: rgb(95, 99, 104);
    height: 36px;
    min-width: 54px;
    padding: 0 16px 0 16px;
    margin: 11px 4px 11px 4px;
}

input[type="submit"]:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.search-button {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: right;
    padding-right: 5px;
}

.lucky-button {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: left;
    padding-left: 5px;
}

/* FOOTER */

.footer-upper {
    display: flex;
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
    font: 15px "Arial", sans-serif;
    color: rgba(0,0,0,.54);
    background-color: #f5f5f5;
    text-decoration: none;
    align-self: center;
    align-items: center;
    padding: 0 27px;
    height: 45px;
    border-top: 1px solid #e4e4e4;
}

.footer-lower {
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
    font: 13px "Arial", sans-serif;
    color: rgb(95, 99, 104);
    background-color: #f5f5f5;
    text-decoration: none;
    align-self: center;
    padding: 0 27px;
    height: 45px;
    border-top: 1px solid #e4e4e4;
}

.footer-lower ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

.footer-lower li {
    padding-left: 27px;
}

#advertising {
    padding-left: 0;
}

#howsearch {
    margin-right: auto;
}